{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Список книг</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body style="font-family: Arial, sans-serif; margin: 20px;">

        <div
        id="mainContainer"
        class="main-container"
        style="
            max-width: 900px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-size: cover;
            background-position: center;
            transition: background-image 1s ease;
            size: 
        ">
        </div>
        <script src="{% static 'js/main.js' %}"></script>
    </body>

</html>